{% extends 'base_generico.html' %}

{% block title %}Detalles del Libro - BookNest{% endblock %}

{% block content %}
<h2>{{ libro.titulo }}</h2>

<p><strong>Autor:</strong> {{ libro.autor }}</p>
<p><strong>Edición:</strong> {{ libro.edicion }}</p>
<p><strong>Temática:</strong> {{ libro.tematica }}</p>
{% if libro.isbn %}
    <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
{% endif %}



<form method="post" action="{% url 'puntuar_libro' libro.id %}">
    {% csrf_token %}
    <label for="puntuacion">Puntuación (1-10):</label>
    <input type="number" id="puntuacion" name="puntuacion" min="1" max="10" required>
    <button type="submit">Enviar Puntuación</button>
</form>


{% if not libro.usuario_prestamo %}
    <a href="{% url 'leer_libro' libro.id %}" class="btn btn-primary btn-sm">Leer en HTML</a>
{% endif %}




<script src="https://cdnjs.cloudflare.com/ajax/libs/epub.js/0.3.88/epub.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Accede a la URL del archivo EPUB, que debería estar en la carpeta media
        var archivoUrl = "{{ libro.archivo.url }}"; // Esto usa el campo 'archivo' de tu modelo
        if (!archivoUrl) {
            alert("El archivo del libro no está disponible.");
            return;
        }

        // Inicializa ePub.js con la URL del archivo
        var book = ePub(archivoUrl);
        var rendition = book.renderTo("book-container", {
            width: "100%",
            height: "100%",
        });
        rendition.display();

        // Controles de navegación
        document.getElementById("prev").addEventListener("click", function () {
            rendition.prev();
        });

        document.getElementById("next").addEventListener("click", function () {
            rendition.next();
        });
    });
</script>
{% endblock %}
