{% extends 'base_generico.html' %}

{% block title %}Detalles del Libro - BookNest{% endblock %}

{% block content %}
<h2>{{ libro.titulo }}</h2>

<p><strong>Autor:</strong> {{ libro.autor }}</p>
<p><strong>Edición:</strong> {{ libro.edicion }}</p>
<p><strong>Temática:</strong> {{ libro.tematica }}</p>
{% if libro.isbn %}
    <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
{% endif %}

<div class="puntuacion-actual">
    {% if puntuacion_form.instance.pk %}
        <p><strong>Tu puntuación actual:</strong> {{ puntuacion_form.instance.puntuacion }}</p>
    {% else %}
        <p>Aún no has puntuado este libro. ¡Sé el primero en hacerlo!</p>
    {% endif %}
</div>

<div class="puntuacion-formulario">
    <form method="post" action="{% url 'detalle_libro' libro.id %}">
        {% csrf_token %}
        {{ puntuacion_form.non_field_errors }}
        <div class="form-group">
            <label for="id_puntuacion"><strong>Puntúa este libro:</strong></label>
            {{ puntuacion_form.puntuacion }}
        </div>
        <button type="submit" class="btn btn-primary">
            {% if puntuacion_form.instance.pk %}Modificar Puntuación{% else %}Enviar Puntuación{% endif %}
        </button>
    </form>
</div>




{% if not libro.usuario_prestamo %}
    <a href="{% url 'leer_libro' libro.id %}" class="btn btn-primary btn-sm">Leer</a>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/epub.js/0.3.88/epub.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var archivoUrl = "{{ libro.archivo.url }}";
        if (!archivoUrl) {
            alert("El archivo del libro no está disponible.");
            return;
        }

        var book = ePub(archivoUrl);
        var rendition = book.renderTo("book-container", {
            width: "100%",
            height: "100%",
        });
        rendition.display();

        document.getElementById("prev").addEventListener("click", function () {
            rendition.prev();
        });

        document.getElementById("next").addEventListener("click", function () {
            rendition.next();
        });
    });
</script>
{% endblock %}
